 
mainContainer {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

backgroundImage {
	flex: 1;
	width: null;
	height: null;
}

headerLogoText {
	text-align: center;
	margin-top: 50px;
	color: white;
	font-size: 40px;
}

logoImg {
    align-items: center;
    width: 150;
    height: 150;
    margin-top: 150;
}

bottomContainer { 
    justify-content: flex-end;
    align-items: center;
    margin-top: 150;
}

navigatorStyles {
	flex: 1;
    width: null;
    height: null;
}

mainContentContainer {
	flex: 1;
}

mainHeaderContainer {
	flex-direction: row;
	height: 45;
    background-color: rgba(0, 0, 0, 0.3);
}

mainHeaderLeft {
    flex: 1;
    flex-direction: row;
}

mainHeaderRight {
	flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15;
}

mainHeaderMenuIcon {
	color: white;
	font-size: 30;
	margin-left: 15;
	margin-top: 7;
	text-align: center;
}

mainHeaderHomeIcon {
	color: white;
	font-size: 25;
	margin-top: 10;
}

mainHeaderNotificationIcon {
	color: white;
	font-size: 25;
	margin-top: 10;
	margin-left: 15;
}

mainHeaderTextIcon {
	color: white;
	font-size: 25;
	margin-top: 10;
	margin-left: 15;
}

mainHeaderMessageContainer { 
	margin-right: 15;
}

mainHeaderLogo { 
	color: white;
	font-size: 25;
	margin-top: 22; 
	margin-left: 40;
}

fbUserPhoto {
	margin-top: 45;
	width: 110;
	height: 110;
	border-radius: 100%;
	border-color: gray;
	border-width: 3px;
}

fbUserInfo {
	margin-top: 80px;
	color: white;
	font-family: Courgette-Regular;
}

menuItemList {
	margin-top: 60px;
	height: 150px;
}

menuItemTitle {
	color: white;
	text-align: center;
	font-family: Courgette-Regular;
	font-size: 20px;
}

mainContentBottomIcons {
	flex-direction: row;
    justify-content: center;
    margin-top: 200px;
}

acceptIcon {
	color: #12B259;
	font-size: 60px;
	text-align: center;
}

declineIcon {
	color: #FF4D5B;
	font-size: 60px;
	text-align: center;
	margin-left: 30px;
}